/* 重置消息弹窗的宽度 */
.el-message {
  width: 200px !important;
}

/* 重置消息弹窗框的宽度 */
.el-message-box {
  width: 200px !important;
}

/* 解决 Google 表头和表格的不匹配的问题 */
th.gutter{
  display: table-cell !important;
}

colgroup.gutter{
  display: table-cell !important;
}
